body{
	font: 14px/1.5 "Microsoft Yahei","Heiti SC",sans-serif;
}
body,h1,h2,h3,h4,h5,h6,p,pre,ul,ol,hr,figure,dl,dd{
	margin: 0;
}
ul,ol,input,button,textarea{
	padding: 0;
}
img,button,input,hr{
	border: 0;
}
button,input,textarea{
	outline: 0;
}
a{
	text-decoration: none;
	color: #333;
}
li{
	list-style: none;
}
em,i{
	font-style: normal;
}
.overflow-one{
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.overflow-more{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}